/*A:link {text-decoration:none; color:white;} 
A:visited {text-decoration:none; color:white;} 
A:hover {text-decoration:none; font-size:14px; color:rgba(255,255,255,0.2); transition:2s ease;} 
*/

p.description {
  color : white;
  margin-top: 0px;
}

p{
  color: white;
}

body{
  background-color: black;
  margin:0;
}

.blue {
    background-color: blue;
    color:blue;
}

#black{
  margin: 100px;
  width:400px;
  height:100px; 
  background-color:black;
  position: absolute;
}


.detail{
  width:95%;
  height:500px; 
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 50px;

  display: none;

}
.detail p{
  position: static;
  font-size:15px;
  font-family: Helvetica Neue;
  text-transform:uppercase;"
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}


.inside{
  padding:0px;
  overflow: scroll;
  height :500px;
  white-space:nowrap;
}
.inside img{
  margin:0px;
  height:480px;
}





.title{
    width:100%;
   /* text-align: center;*/
    margin-top:30px;
    font-family: Helvetica Neue;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 50px;
}

nav a {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1em;
}

nav a:hover,
nav a:focus {
  outline: none;
}


/* Effect 14: border switch */
.cl-effect-14 a {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
  position: absolute;
  width: 30px;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 0.2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}

.cl-effect-14 a::before {
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}

.cl-effect-14 a::after {
  right: 0;
  bottom: -2px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
  opacity: 1;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
  left: 50%;
  -webkit-transform: rotate(0deg) translateX(-50%);
  -moz-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
  right: 50%;
  -webkit-transform: rotate(0deg) translateX(50%);
  -moz-transform: rotate(0deg) translateX(50%);
  transform: rotate(0deg) translateX(50%);
}





/*
.menu{
    width:50%;
    float:right;
    margin-top:100px;
    margin-bottom: 100px;
    font-family: "Verdana";
    font-size: 11px;

}
*/

/*
.wrap {
    top: 100px;
    width: 100%;
    position: relative;
    float:left;
    margin-top: 0px
    }

*/

.box {
    position: relative;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 115px;
    background-color: /blue;
    font-family: Helvetica Neue;
    font-size: 9px;
    opacity: ;
    height:160px;
    float:left;
}
.text {
  color:white;
}

p.name {
   width:125px;
   font-size: 14px;
   margin-top:-2px;
   margin-bottom: -15px;
   text-transform: uppercase;

}



.scroll {
    width:115px;
    height:60px;
    margin:0px;
    /*background:#A3CBE0;
    border:2px solid #000;*/
    overflow: hidden;
    white-space:nowrap;
    font-size: 0;
    }
.scroll img {
    margin:0px;
    height:50px;
    }







 #css_test {
    background-image:url('http://superkts.com/img/css/dogs.gif');
    background-repeat:repeat-x;
    height:150px;
  }



